@page
@model CampusConnect.Pages.RequestAttachmentsPages.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>attachments</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.attachments.fileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.attachments.fileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.attachments.contentType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.attachments.contentType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.attachments.fileUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.attachments.fileUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.attachments.uploadedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.attachments.uploadedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.attachments.request)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.attachments.request.buildingName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.attachments.creator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.attachments.creator.email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="attachments.fileID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
