@page
@model CampusConnect.Pages.RequestAttachmentsPages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.attachments[0].fileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.attachments[0].contentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.attachments[0].fileUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.attachments[0].uploadedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.attachments[0].request)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.attachments[0].creator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.attachments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.fileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fileUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uploadedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.request.buildingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.creator.email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.fileID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.fileID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.fileID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
