@page
@model CampusConnect.Pages.Admin.UserRolesPages.IndexModel

@{
    ViewData["Title"] = "User Roles";
}

<h1>User Roles</h1>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>User Email</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.userRoles)
        {
            <tr>
                <td>@item.user?.email</td>
                <td>@item.role?.roleName</td>
                <td>
                    <a asp-page="./Edit"
                       asp-route-roleID="@item.roleID"
                       asp-route-userID="@item.userID">Edit</a> |
                    <a asp-page="./Details"
                       asp-route-roleID="@item.roleID"
                       asp-route-userID="@item.userID">Details</a> |
                    <a asp-page="./Delete"
                       asp-route-roleID="@item.roleID"
                       asp-route-userID="@item.userID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>